@{
    ViewData["Title"] = "Pokemon Suika Game";
}

<h2>Pokemon Suika Game</h2>
<canvas id="gameCanvas" width="600" height="800"></canvas>

@section Scripts {
    <script src="~/js/suika-game.js"></script>
}
