@* PartialView : Sélection des coureurs *@

<h3>Choisis tes 4 Pokémon coureurs :</h3>
<div id="runnersSelection" class="pokemon-cards"></div>
<div class="runner-actions">
    <button id="confirmRunners" type="button" class="btn btn-primary">Confirmer ma sélection</button>
</div>



