@* PartialView : Sélection des coureurs *@

<h3>Choisis tes 4 Pokémon coureurs :</h3>
<div id="runnersSelection" class="pokemon-cards"></div>
<button id="confirmRunners" type="button">Confirmer ma sélection</button>


