@{
    ViewData["Title"] = "Accueil - PokéRogue";
}

<div class="text-center">
    <h1>Bienvenue dans Pokérogue</h1>
    <p>Préparez votre équipe et affrontez des dresseurs redoutables!</p>
    <a class="btn btn-primary" href="PokeRogue/SelectTeam">Commencer l'aventure</a>

</div>

@section Scripts {
<script src="~/js/PlayerProfileHeader.js"></script>
    <script>
    const game = "pokeRogue";
    </script>
}