@{
ViewData["Title"] = "PokeGacha";
}

<h2>Tirer un Pokémon !</h2>
<button id="draw">Tirer</button>
<div id="result"></div>

@section Scripts {
<script>
    document.getElementById("draw").addEventListener("click", () => {
        const id = Math.floor(Math.random() * 151) + 1;
        fetch(`/Pokemon/getPokemonById/${id}`)
            .then(res => res.json())
            .then(pokemon => {
                document.getElementById("result").innerHTML = `
                        <h3>${pokemon.name}</h3>
                        <p>HP: ${pokemon.healthPoint}</p>
                        <p>Attaque: ${pokemon.strength}</p>
                        <p>Défense: ${pokemon.defense}</p>
                        <p>Vitesse: ${pokemon.speed}</p>
                    `;
            });
    });
</script>
}
